<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <h1>Sign Up</h1>
          <h6>Register yourself to login!!</h6>
        </div>
        <form>
          <form [formGroup]="signupForm" (ngSubmit)="signUp()">
            <div class="mb-1">
              <div class="mb-1">
                <label for="clientName" class="form-label">Full Name</label>
                <input formControlName="fullname" type="text" class="form-control" id="clientName">
              </div>
              <div class="mb-3">
                <label for="clientPhone" class="form-label">Phone</label>
                <input formControlName="phone" type="number" class="form-control" id="clientPhone">
              </div>
              <label for="clientEmail1" class="form-label">Email address</label>
              <input formControlName="email" type="email" class="form-control" id="clientEmail1" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="clientInputPassword1" class="form-label">Password</label>
              <input formControlName="password" type="password" class="form-control" id="clientInputPassword1">
            </div>
            <button type="submit" class="btn btn-primary">Sign Up</button>
          </form>
          <a style="color: #fff; margin: top 10px;" routerLink="/login">Already Registerd? Click to Login!</a>
        </form>
      </div>
    </div>
  </div>
</div>
